In [1]:
import qoery

In [2]:
client = qoery.Client()

In [6]:
candles = client.candles.get(
        symbol="WETH-USDC", 
        interval="15m", 
        limit=100
    )
candles.df

,time,open,high,low,close,volume
0,2025-12-30 12:30:00+00:00,2986.435787,2986.450744,2986.435671,2986.435671,6.240250
1,2025-12-30 12:45:00+00:00,2986.437837,2986.452083,2968.546282,2986.452083,145.059084
2,2025-12-30 13:00:00+00:00,2986.452083,2986.452083,2986.452083,2986.452083,0.000000
3,2025-12-30 13:15:00+00:00,2986.439647,2988.584328,2970.810704,2970.810704,58711.642085
4,2025-12-30 13:30:00+00:00,2970.730546,2988.708102,2970.730546,2988.708102,255.887425
...,...,...,...,...,...,...
95,2025-12-31 12:15:00+00:00,2982.082749,3000.060519,2982.082147,3000.058210,117.133019
96,2025-12-31 12:30:00+00:00,3000.058099,3000.058099,3000.058099,3000.058099,1.000000
97,2025-12-31 12:45:00+00:00,2982.044536,2982.044536,2981.849076,2981.849076,10059.998120
98,2025-12-31 13:00:00+00:00,2999.665061,2999.665589,2981.681945,2999.660639,673.174538
99,2025-12-31 13:15:00+00:00,2999.643731,3008.620885,2981.665251,2989.003574,611410.296641

In [7]:
ticks = client.ticks.get(
            symbol="WETH-USDC", 
            limit=100)
ticks.df

,id,timestamp,price,side,amount0,amount1,amount_usd,sqrt_price_x96,token0,token1
0,0xf412d9801c67c1a2de4c05f7717f66068f499716f556...,2025-12-30 13:36:23+00:00,0.000337,sell,-194.858326,0.06559104,195.151617,1451410339866419317572640755395120,USDC,WETH
1,0x93f9ba2dc4b59392ece88518c66ea4c6caedebb7e3cb...,2025-12-30 13:37:23+00:00,0.000337,sell,-30.504584,0.010268128602333716,30.550482,1451410628192019603580798159788509,USDC,WETH
2,0x9210806589d218487f6de434007c009e7f943fc2a6cf...,2025-12-30 13:38:35+00:00,0.000335,buy,30.504584,-0.010206612008745955,30.458824,1451410340731402740701934130264172,USDC,WETH
3,0x08100a2177d5383f2b7ebd33c3f9685c6c8b810f3aac...,2025-12-30 13:48:11+00:00,0.000335,buy,3.041937,-0.001017809725579261,3.037374,1451410312065650450584250732583763,USDC,WETH
4,0xc4c09b87f9f447ddca747631cb7ce096930995c477b5...,2025-12-30 13:53:59+00:00,0.000335,buy,0.443256,-0.000148310122394128,0.442591,1451410307888620968725505495833012,USDC,WETH
...,...,...,...,...,...,...,...,...,...,...
95,0xeba40c0f78e01cf9bb35dc96933077824838b26bb387...,2025-12-30 16:17:11+00:00,0.000334,buy,0.25656,-0.00008567352148377,0.256175,1449976994003008135313523430887426,USDC,WETH
96,0xcbad5e8b9da4090a6f66f6d19942b96edb52d85569a4...,2025-12-30 16:18:23+00:00,0.000336,sell,-1.97842,0.00066464,1.981397,1449977012533758427223963653585316,USDC,WETH
97,0x88304c0ca6b54e8ae96430a32f69229f74ce57a4af41...,2025-12-30 16:18:59+00:00,0.000334,buy,0.277103,-0.000092533367127239,0.276687,1449977009946083389737048236974539,USDC,WETH
98,0xcf4496571daf55023bd9a54bf95b66d117b15b2de0ab...,2025-12-30 16:20:23+00:00,0.000336,sell,-8.176251,0.002746769317426105,8.188553,1449977086528438244552321372874399,USDC,WETH
99,0x91bc2ef660a5c2a13a57d7a13c8d2e6e07dd3a389951...,2025-12-30 16:21:47+00:00,0.000334,buy,0.347409,-0.000116010784682614,0.346887,1449977083284222445189086496838038,USDC,WETH